Source: libgit2-win32openssl
Version: 1.0.1
Homepage: https://github.com/libgit2/libgit2
Build-Depends: zlib, libssh2, libgit2-win32openssl[openssl] (!uwp)
Description: Git linkable library
Supports: !uwp

Feature: openssl
Description: Build against openssl
Build-Depends: openssl

Feature: mbedtls
Description: Build against mbedtls
Build-Depends: mbedtls

Feature: pcre
Description: Build against external libpcre
Build-Depends: pcre

Feature: pcre2
Description: Build against external libpcre2
Build-Depends: pcre2
